---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.page-footer {
	border-top: 1px solid $grey-color-light;
	padding: $spacing-unit / 3 0;
	text-align: right;
	@include relative-font-size(0.67);
}

