---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Days+One|Righteous|Special+Elite');

.center-image {
    margin: 0 auto;
    width: 85%;
    display: block;
}

.christmas-body {
    font: normal 150% 'Days One', cursive;
    color: green;
    line-height: 33px;
    text-align: left;
}


